# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
staticfiles/
media/
db.sqlite3

# VSCode
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Ambiente
.env