{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style_site.css' %}" rel="stylesheet">

    <link rel="icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
    <!-- Link para adicionar os ícones 'Instagram' e 'Facebook' -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <title></title>
</head>
<body class="{% block body_class %}{% endblock %}">
    <!--Incluir o MENU-->
    {% include 'aprepi/menu_reception.html' %}

    <div class="container">

    {% block content %}
    {% endblock content %}

    </div>

    <!--Incluir o RODAPÉ-->
    {% include 'aprepi/footer.html' %}

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>