{% extends 'aprepi/base_clear.html' %}
{% load static %}

{% block body_class %}contact-color{% endblock %}

{% block content %}
<div class="contact-container">
    <!-- Seção de Informações -->
    <div class="info-section">
        <h1 class="info-title">{{ contact.title }}</h1>

        <div class="address-info">
            <h5>{{ contact.description|linebreaks }}</h5>
        </div>

        <div class="social-icons">
            <a class="text-black" href="https://www.facebook.com/renaispi/?locale=pt_BR" target="_blank">
                <i class="bi-facebook" style="font-size: 1.5rem;"></i>
            </a>
            <a class="text-black" href="https://www.instagram.com/aprepi/" target="_blank">
                <i class="bi-instagram" style="font-size: 1.5rem;"></i>
            </a>
        </div>
    </div>

    <!-- Seção da Logo -->
    <div class="logo-section">
        <div class="logo-container">
            {% if contact.image %}
                <img src="{{ contact.image.url }}" alt="{{ contact.title }}" class="logo-image">
            {% else %}
                <img src="{% static 'img/logo_contact.png' %}" alt="Logo APREPI" class="logo-image">
            {% endif %}
        </div>
    </div>

    <!-- Botão Voltar -->
    <div class="voltar-container">
        <a href="{% url 'home' %}" class="btn btn-primary">Voltar</a>
    </div>
</div>
{% endblock content %}
