{% extends 'aprepi/base_clear.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
  <div class="row align-items-center">
    <!-- Coluna do texto -->
    <div class="col-md-7">
      <h2 class="fw-bold mb-4">{{ contribute.title }}</h2>

      <div class="description-text">
        {{ contribute.description|safe }}
      </div>
    </div>

    <!-- Coluna da imagem -->
    <div class="col-md-5 text-center mt-2 mt-md-0">
      {% if contribute.image %}
        <img src="{{ contribute.image.url }}" alt="{{ contribute.title }}" class="img-fluid rounded-3 shadow-sm">
      {% else %}
        <img src="{% static 'img/contribua.png' %}" alt="Contribua com a Aprepi" class="img-fluid rounded-3 shadow-sm">
      {% endif %}
    </div>
  </div>

  <div class="voltar-container mt-1 text-center">
    <a href="{% url 'reception_page' %}" class="btn btn-primary">Voltar</a>
  </div>
</div>
{% endblock %}
