{% extends 'aprepi/base_clear.html' %}
{% load static %}

{% block body_class %}contact-color{% endblock %}

{% block content %}
<div class="contact-container">
        <!-- Seção de Informações -->
        <div class="info-section">
            <h1 class="info-title">Nosso endereço</h1>
            
            <div class="address-info">
                <h5>
                Rua Rui Barbosa s/n<br>
                Edifício Carlos Castelo Branco, Centro - Norte<br>
                Teresina - PI<br>
                Próximo ao Ginásio Verdão.<br><br>
                Telefone: (86) 3223-7355 (manhã)<br>
                Cel.: (86) 98815-9568 / (86) 98875-6618<br><br>
                Email: renaisaprepi@gmail.com
                </h5>
            </div>

            <div class="social-icons">
                <a class="text-black" href="https://www.facebook.com/renaispi/?locale=pt_BR" target="blank">
                    <i class="bi-facebook" class="bi" style="font-size: 1.5rem;"></i>
                </a>

                <a class="text-black" href="https://www.instagram.com/aprepi/" target="blank">
                    <i class="bi-instagram" class="bi" style="font-size: 1.5rem;"></i>
                </a>
            </div>
        </div>

        <!-- Seção da Logo -->
        <div class="logo-section">
            <div class="logo-container">
                <img src="{% static 'img/logo_contact.png' %}" alt="Logo APREZ - Associação dos Pacientes Renais Crônicos do Piauí" class="logo-image">
            </div>
        </div>

        <!-- Botão Voltar -->
        <div class="voltar-container">
            <a href="{% url 'home' %}" class="voltar-btn">Voltar</a>
        </div>
    </div>
{% endblock content %}