{% extends 'aprepi/base_clear.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">Envie seu Depoimento</h2>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <form method="post" class="p-4">
        {% csrf_token %}

          <div class="mb-3">
            {{ form.testimonial.label_tag }}
            {{ form.testimonial }}

            {% if form.testimonial.errors %}
              <div class="text-danger">{{ form.testimonial.errors }}</div>
            {% endif %}
          </div>
        
          <div class="text-center">
            <button type="submit" class="btn btn-primary mt-4">Enviar Depoimento</button>
          </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
