{% extends 'aprepi/base_clear.html' %}
{% load static %}

{% block content %}
  <div class="container">
    {% for director in directors %}
      {% if forloop.counter|divisibleby:2 %}
        <div class="row featurette mb-5 p-3">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">{{ director.name }}</h2>
            <p class="lead">{{ director.description|linebreaks }}</p>
          </div>
          <div class="col-md-5">
            {% if director.image %}
              <img src="{{ director.image.url }}" alt="{{ director.name }}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="400" />
            {% endif %}
          </div>
        </div>
      {% else %}
        <div class="row featurette mb-5 p-3">
          <div class="col-md-7 order-md-2 mt-4">
            <h2 class="featurette-heading fw-normal lh-1">{{ director.name }}</h2>
            <p class="lead">{{ director.description|linebreaks }}</p>
          </div>

          <div class="col-md-5 order-md-1 mt-4">
            {% if director.image %}
              <img src="{{ director.image.url }}" alt="{{ director.name }}" width="100%" />
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}

    <div class="voltar-container mt-4 text-center">
      <a href="{% url 'reception_page' %}" class="btn btn-primary">Voltar</a>
    </div>
  </div>
{% endblock %}