{% load static %}

<footer class="footer bg-page text-white pt-4 pb-3 mt-5 border-top w-100">
  <div class="footer-content container d-flex flex-wrap justify-content-between align-items-center">

      <!-- Logo + Direitos -->
      <div class="d-flex align-items-center">
        <img src="{% static 'logo/logo.png' %}" alt="APREPI" class="me-2" style="width: 50px;">
        <p class="footer-text mb-0">© {% now "Y" %} Aprepi</p>
      </div>

      <!-- Endereço -->
      <div>
        <p class="footer-text mb-0">Rua Rui Barbosa s/n, Centro-Norte, Teresina-PI</p>
      </div>

      <!-- Redes sociais -->
      <div class="social-icons d-flex">
        <a href="https://www.instagram.com/aprepi/" class="social-icon ms-3 text-footer" target="_blank"
          aria-label="Instagram">
          <i class="bi bi-instagram" style="font-size: 1.5rem;"></i>
        </a>
        <a href="https://www.facebook.com/renaispi/?locale=pt_BR" class="social-icon ms-3 text-footer" target="_blank"
          aria-label="Facebook">
          <i class="bi bi-facebook" style="font-size: 1.5rem;"></i>
        </a>
      </div>

  </div>
</footer>