{% extends 'aprepi/base_clear.html' %}
{% load static %}

{% block content %}
  <div class="container">
      {% for history in historys %}
      <div class="mb-4 p-4">
        <h2 class="fw-bold">{{ history.name }}</h2>

      <p class="text-justify">
          {% if history.image %}
            <img src="{{ history.image.url }}" alt="{{ history.name }}"
                 class="img-fluid float-start me-3 mb-2"
                 style="width: 300px; height: auto;">
          {% endif %}
          {{ history.description|linebreaksbr }}
        </p>
      </div>
    {% endfor %}

    <div class="d-flex flex-column align-items-center">
      <a href="{% url 'reception_page' %}" class="btn btn-primary">Voltar</a>
    </div>

  </div>
  
{% endblock %}
