{% extends 'aprepi/base.html' %}
{% load static %}

{% block body_class %}bg-page{% endblock %}

{% block content %}

<!-- MENSAGEM DE SUCESSO -->
  {% if messages %}
    {% for message in messages %}
      <div class="container mt-3">
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
        </div>
      </div>
    {% endfor %}
  {% endif %}

  <div class="centraliza-home" style="margin-top: -50px;">
    <img src="{% static 'img/home-img.png' %}" alt="APREPI" style="width: 420px;" />
  </div>
{% endblock content%}
