
{% load static %}


<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm" style="min-height: 70px;">
    <div class="container" style="max-width: 1100px;">
        <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}">
            <img src="{% static 'logo/logo.png' %}" style="width: 70px; margin-right: 10px;">
            <span class="fw-bold text-primary" style="font-size: 1.3rem;">APREPI</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">Sobre</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contato</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="aprepiDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">APREPI</a>
                    <ul class="dropdown-menu" aria-labelledby="aprepiDropdown">
                        <li><a class="dropdown-item" href="{% url 'history' %}">História</a></li>
                        <li><a class="dropdown-item" href="{% url 'documents' %}">Transparência - Documentos</a></li>
                        <li><a class="dropdown-item" href="{% url 'ata' %}">Transparência - Atas</a></li>
                        <li><a class="dropdown-item" href="{% url 'events' %}">Eventos</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'director' %}">Diretoria</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contribute' %}">Contribua</a></li>
            </ul>
            <a class="btn btn-primary rounded-pill px-4 py-2 fw-bold shadow-sm" href="/admin/" style="font-size: 1rem;">Login</a>
        </div>
    </div>
</nav>

