{% extends 'aprepi/base_clear.html' %}
{% load static %}

{% block content %}

<div class="container">
  <h2 class="mt-4">Saiu na Imprensa</h2>
  <div class="row">
    {% for new in news %}
      <div class="col-md-3 mt-3 d-flex">
        <div class="card mb-4 flex-fill h-100">
          <img src="{{ new.image.url }}" class="card-img-top" alt="Imagem da notícia"
               style="height: 200px; object-fit: cover;" />
          <div class="card-body text-center d-flex flex-column justify-content-between">
            <div>
              <h5 class="card-title">{{ new.title|truncatechars:50 }}</h5>
              <p class="card-text">{{ new.text|truncatechars:100 }}</p>
            </div>
            <a href="{% url 'new_detail' new.id %}" class="btn btn-primary btn-sm">Ler notícia</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="text-center mt-4 mb-4">
    <a href="{% url 'reception_page' %}" class="btn btn-primary">Página inicial</a>
  </div>
</div>

{% endblock content %}