{% extends 'aprepi/base_complete.html' %}
{% load static %}

{% block body_class %}bg-page{% endblock %}

{% block content %}


<!-- HTML para a seção 'Notícias Recentes' -->
<div class="container" style="padding-top: 0; padding-bottom: 0;">
  <h2 class="pt-4">Notícias Recentes</h2>
  <div class="row">
    {% for new in news %}
      <div class="col-md-3 mt-3">
        <div class="card mb-4 bg-page">
          <img src="{{ new.image.url }}" class="card-img-top" alt="Imagem da notícia" style="height: 200px; object-fit: cover;" />
          <div class="card-body text-center bg-card">
            <h5 class="card-title">{{ new.title|truncatechars:50 }}</h5>
            <p class="card-text">{{ new.text|truncatechars:100 }}</p>
            <a href="{% url 'new_detail' new.id %}" class="btn btn-primary btn-sm mt-2">Ler notícia</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="text-center mt-4">
    <a href="{% url 'news_list' %}" class="btn btn-primary">Ver tudo</a>
  </div>
</div>

<!-- HTML para a seção 'Depoimentos dos Pacientes' -->
<div class="container" style="padding-top: 0; padding-bottom: 0;">
  <h2 class="pt-4">Depoimentos</h2>
  <div class="row">
    {% for t in testimonials %}
      <div class="col-md-3 mt-3">
        <div class="card h-100 card-color">
          {% if t.image %}
            <img src="{{ t.image.url }}" class="card-img-top" alt="Imagem de {{ t.name }}" class="card-img-top img-fluid rounded-top" style="height: 300px; object-fit: cover;" />
          {% else %}
            <img src="{% static 'img/avatar.png' %}" class="card-img-top" alt="Avatar padrão" class="card-img-top img-fluid rounded-top" style="height: 300px; object-fit: cover;" />
          {% endif %}
          <div class="card-body text-center bg-card">
            <h5 class="card-title">{{ t.name }}</h5>
            <p class="card-text mb-0">Idade: {{ t.age }}</p>
            <p class="card-text">Cidade: {{ t.city }}</p>
            <a href="{% url 'testimonial_detail' t.id %}" class="btn btn-primary btn-sm mt-2">Ver depoimento</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="text-center mt-3">
    <a href="{% url 'testimonials_list' %}" class="btn btn-primary">Ver tudo</a>
  </div>

  <div class="text-center mt-5">
    <p>Paciente amigo(a), caso queira deixar seu depoimento sobre a APREPI:</p>
    <a href="{% url 'create_testimonial' %}" class="btn btn-outline-success">Clique aqui</a>
  </div>
</div>

{% endblock content %}
