{% extends 'aprepi/base_clear.html' %}
{% load static %}

{% block content %}
<div class="cadastro-container">
    <!-- Seção do Formulário -->
    <div class="form-section">
        <h1 class="form-title">Cadastro</h1>

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role='alert'>
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
        </div>
        {% endfor %}
        {% endif %}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                <label class="form-label" for="{{ form.name.id_for_label }}">Nome:</label>
                {{ form.name }}
            </div>

            <div class="form-group">
                <label class="form-label" for="{{ form.birth_date.id_for_label }}">Data de nascimento:</label>
                {{ form.birth_date }}
            </div>

            <div class="form-group">
                <label class="form-label" for="{{ form.city.id_for_label }}">Cidade:</label>
                {{ form.city }}
            </div>

            <div class="form-group">
                <label class="form-label" for="{{ form.gender.id_for_label }}">Gênero:</label>
                {{ form.gender }}
            </div>

            <div class="form-group">
                <label class="form-label" for="{{ form.email.id_for_label }}">E-mail:</label>
                {{ form.email }}
                <div class="text-danger small">{{ form.email.errors }}</div>
            </div>

            <div class="form-group">
                <div class="checkbox-group">
                    {{ form.is_patient }}
                    <label class="form-label" for="{{ form.is_patient.id_for_label }}">É paciente renal?</label>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label" for="{{ form.avatar.id_for_label }}">Escolha uma imagem para seu perfil</label>
                {{ form.avatar }}
            </div>

            <div class="form-group">
                <label class="form-label" for="{{ form.password.id_for_label }}">Senha:</label>
                {{ form.password }}
                <div class="text-danger small">{{ form.password.errors }}</div>
            </div>

            <div class="form-group">
                <label class="form-label" for="{{ form.confirm_password.id_for_label }}">Confirme a senha:</label>
                {{ form.confirm_password }}
                <div class="text-danger small">{{ form.confirm_password.errors }}</div>
            </div>

            <div class="form-buttons">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                <a href="{% url 'home' %}" class="btn btn-primary">Voltar</a>
            </div>
        </form>
    </div>

    <!-- Seção da Imagem -->
    <div class="image-section">
        <img src="{% static 'img/fachada.png' %}" alt="Casa dos Renais - Fachada da Associação">
    </div>
</div>
{% endblock content %}