{% extends 'aprepi/base_clear.html' %}
{% load static %}

{% block content %}
<section class="container mt-5">
  <h2 class="mb-4">Depoimentos de Nossos Pacientes</h2>
  <div class="row">
    {% for t in testimonials %}
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          {% if t.image %}
            <img src="{{ t.image.url }}" class="card-img-top" alt="Imagem de {{ t.name }}"
            class="card-img-top img-fluid rounded-top"
            style="height: 300px; object-fit: cover;" />
          {% else %}
            <img src="{% static 'img/avatar.png' %}" class="card-img-top" alt="Avatar padrão"
            class="card-img-top img-fluid rounded-top"
            style="height: 300px; object-fit: cover;" />
          {% endif %}
          <div class="card-body text-center">
            <h5 class="card-title">{{ t.name }}</h5>
            <p class="card-text mb-0">Idade: {{ t.age }}</p>
            <p class="card-text">Cidade: {{ t.city }}</p>
            <a href="{% url 'testimonial_detail' t.id %}" class="btn btn-primary btn-sm mt-2">Ver depoimento</a>
          </div>
        </div>
      </div>
    {% empty %}
      <p class="text-center">Nenhum depoimento encontrado.</p>
    {% endfor %}
  </div>

  <div class="voltar-container mt-4 text-center">
    <a href="{% url 'reception_page' %}" class="btn btn-primary">Página Principal</a>
  </div>
</section>
{% endblock %}
