/* Configurações da página Home */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: hidden; /* remove scroll vertical */
    overflow-x: hidden; /* garante que nada transborde na horizontal */
}

/* Define a cor da 'Home' */
body {
    background-color: #004dff;
    margin: 0;
    padding: 0;
}

.main-content {
    padding-top: 50px; /* ou ajuste conforme a altura exata da navbar */
}

/* Apenas a área central da Home */
.centraliza-home {
    height: calc(100vh - 60px); /* Ajuste conforme altura do menu */
    display: flex;
    align-items: center;
    justify-content: center;
}








