/* Seletores para definição de cores próprias em páginas particulares*/
.bg-nav {
    background-color: #004dff; /* define a cor da navbar na 'Página Principal'*/
}

.about-color {
    background-color: #f3f5f8;
}

.contact-color {
    background-color: #f3f5f8;
}

.register-color {
    background-color: #87a4cf; /* define a cor do background na página 'Cadastro'*/
}

.list_users-color {
    background-color: #97f0f0;
}

.bg-documents {
  background-color: #b2bcd4; /* define a cor do background na página 'Documentos'*/
}

/* Insere IMAGEM na página de CADASTRO*/
.cadastro-imagem {
    flex: 2;
    background-image: url("/media/img/Aprepi.png");
    background-size: cover;
    background-position: right;
    background-position: right center;
    height: 100vh;
}

/* Estrutura para delimitar a largura da navbar na 'Página Principal (reception_page.html)'*/
.navbar.fixed-top {
  max-width: 1140px; /* ou 100% se quiser responsivo */
  margin: 0 auto;
  left: 0;
  right: 0;
}


/* Links e Sublinks da navbar da 'Página Principal' do site (reception_page.html)*/
/* CSS para o link APREPI abrir 'dropdown' de modo automático ao passar o mouse*/
  .dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0;
  }

  /* CSS para o 'submenu lateral' do 'sublink' TRANSPARÊNCIA no link APREPI */
  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    display: none;
  }

  .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }

  /* CSS para ajuste de cores do 'dropdown' no link APREPI*/
  .dropdown-menu {
  background-color: #e6f0ff; /* azul claro */
}

.dropdown-menu .dropdown-item {
  color: #003366; /* azul escuro */
}

.dropdown-menu .dropdown-item:hover {
  background-color: #cce0ff; /* azul um pouco mais escuro ao passar o mouse */
  color: #000;
}


